
.home-main-div{
    background-image: url('../assets/background_home.jpg');
    /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);*/
    background-color: rgb(48, 47, 47);
    height: 590px;
    background-size: cover;
    background-position: center;
}

.home-title{
    font-size: 600%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-top: 80px;
}

.home-description{
    font-size: 180%;
    color: rgb(197, 191, 191);
}

.home-seach-input{
    border-radius: 5px;
    border-width: 0px;
    color: rgb(22, 22, 21);
}

.home-seach-input:hover{
    background-color: rgba(218, 226, 225, 0.918);
    box-shadow: rgb(187, 186, 186);
}