.landing-main-div{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: bisque;
}

.landing-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.landing-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.landing-header-right{
    display:  flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4%;
    justify-content: space-around;
}

.landing-trailer{
    align-self: center;
}


.landing-gener-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.langing-single-gener{
    width: 120px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    color: rgb(211, 205, 205);
    margin: 5px ;
    font-weight: 700;
    background-color: grey;
}