.top-main-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#1D1D1D
}

.top-title{
    color: rgb(248, 244, 244);
    font-size: 180%;
    justify-self: center;
    align-self: center;
    font-weight: 700;
    margin-bottom: 8px;
}

.top-main-main{
    background-color: #1D1D1D
}